[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jsonschema = "*"
pyyaml = "*"
# "gks.metaschema" = {editable = true, path = "./../gks-metaschema"}
"ga4gh.gks.metaschema" = "==0.2.0rc1"

[dev-packages]
jupyterlab = "*"
pyyaml = "*"
pytest = "*"

[requires]
python_version = "3.9"
