[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jsonschema = "*"
pyyaml = "*"
"gks.metaschema" = {editable = true, path = "./../gks-metaschema"}

[dev-packages]
jupyterlab = "*"
pyyaml = "*"

[requires]
python_version = "3.9"
