/* override table width restrictions */
@media screen and (min-width: 767px) {

    table.clean-wrap td {
       /* !important prevents the common CSS stylesheets from overriding
          this as on RTD they are loaded after this stylesheet */
       white-space: normal !important;
    }

    table.reece-wrap {
       overflow: visible !important;
    }
 }



 h2 {
     color: #2980B9;
     border-top:  #2980B9 thin solid;
     border-bottom:  #2980B9 thin solid;
 }

 h3 {
     color: #888;
     text-decoration: underline;
 }

 figure {
     border: thin solid #6ab0de;
     padding: 2px;
 }

 figure img {
     margin-bottom: 5px;
 }

 figcaption p .caption-text::before {
     content: "Figure: "
 }

 figcaption p .caption-text {
     background: #e7f2fa;
     line-height: unset;
     margin: unset;
     padding: 3px;
     font-weight: bold;
 }

 figcaption div.legend {
     background: #e7f2fa;
     padding: 3px;
 }

 figcaption div.legend p {
     font-size: smaller;
     line-height: unset;
     margin-bottom: 10px;
 }

 figcaption div.legend p:last-child {
     margin-bottom: 0px;
 }


 /* nested ul leads to awkward spacing of list items.
    This change doesn't seem to induce any other odd spacing */
 .rst-content .section ul p {
     margin-bottom: 0px;
 }

 span.std-term::after {
     content: " 🛈"
 }
